$max-width: 1100px;
$dark-blue: #254492;
$contact-form-dark-blue: #2b74bb;
$contact-form-light-blue: #a5c4e2;
$darker-blue: #263585;
$light-blue: #216eb8;
$orange: rgba(227, 136, 63, 0.91);
$white: #fff;
$lighter-blue: #4d8bc6;
$sky-blue: #a8aece;
$placeholder-color: #747474;
$gray-btn-color: #e9e9ed;
$dark-gray-btn-color: #9494a0;
$light-blue-btn-color: #54b6eb;
$light-gray-color: #dae0f1;
$orange-product-color: rgba(213, 125, 58, 0.93);
$dark-blue-product-color: #386cb2;
$black: black;
$contact-form-text-black: #424242;
$home-page-blue-button: #3274cc;