
.hamburger {
  &.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 31px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    @include respond(tablet-portrait) {
      display: none;
    }}
  &-line {
    width: 100%;
    height: 3px;
    background: $orange;
    border-radius: 3px; }
  @include respond(tablet-portrait) {
    display: none;
  }}


.x-button {
  display: none;
  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 17;
    @include respond(tablet-portrait) {
      display: none;
    }}
  &-line {
    height: 31px;
    background-color: $white;
    width: 2px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-first {
      transform: rotate(45deg);
      top: 0; }
    &-second {
      transform: rotate(-45deg);
      top: 0; }
  }
  @include respond(tablet-portrait) {
      display: none;
  }
}






.add-product-button {
  background-color: $dark-blue;
  padding: 8px 25px 6px 15px;
  border-radius: 3px;
  border: none;
  margin-left: auto;
  position: absolute;
  right: 30px;
  bottom: 20px;
  &-img {
    width: 15px;
    margin-left: auto;
    margin-right: auto; }}





/*CART PAGE - START*/


.checkout {
  display: inline-block;
  width: 200px;
  padding: 5px 0;
  margin-top: 20px;
  border: none;
  border-radius: 7px;
  color: $white;
  background-color: $darker-blue;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all ease-out .3s;
  text-align: center;
  text-decoration: none;
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }
  &:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px); }
  & i {
    margin-left: 5px;
    display: inline-block;
    margin-top: 5px;
    transition: all ease-out .3s;}
  &-btn-container {
    width: 100%;
    text-align: right; }
  &-btn-check-icon {
    padding-right: 15px; }
  @include respond(tablet-portrait) {
      width: 200px; }
  }

/*CART PAGE - END */




//HOME PAGE STARTS




.home-page {
  &-button {
    display: inline-block;
    text-decoration: none;
    padding: 12px 40px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Raleway,sans-serif;
    margin-top: 20px;
    &-left {
      background-color: $home-page-blue-button;
      color: $white;
      border: 2px solid $home-page-blue-button;

      margin-right: 20px;
    }
    &-right {
      border: 2px solid $home-page-blue-button;
      color: $home-page-blue-button;
    }
  }
}









//HOME PAGE ENDS