.main {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px 50px 20px; }

.sub-nav {
  display: flex;
  justify-content: flex-start;
  gap: 9px;
  height: 28px;
  flex-wrap: wrap;
  align-items: center;
  //margin: 20px 0 50px 0;
  margin: 30px 0 20px 0;
  max-width: $max-width;
  //padding-left: 20px;
  //padding-right: 20px ;
  &-arrow {
    color: $orange;
    font-size: 1rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto; }
  @include respond(tablet-portrait) {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0; }
}


.home-icon {
  box-sizing: content-box;
  width: 14px;
  padding: 8px 12px;
  background-color: $white;
  display: block; }


.navigation-button {
  padding: 0 14px;
  border: none;
  background-color: $white;
  color: #686868;
  font-size: 1.25rem;
  text-decoration: none;
  height: 27px;
  line-height: 28px;
  display: block; }
