
/*CONTACT PAGE - START*/


.map {
  width: 100%;
  &-container {
    display: block;
    margin: 20px auto auto auto;
    width: 100%;
  }

}


.contact-page-main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  background-color: $white;
  padding: 50px 20px;

  @include respond(tablet-portrait) {
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-rows: 1fr;
  }
  }


.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 20px 50px 0;
  gap: 15px;
  &-heading {
    color: $contact-form-dark-blue;
    font-size: 2.7rem; }
  &-sub-heading {
    color: $black;
    font-size: 1.7rem;
    display: block;
    font-weight: bold; }
  & h2 {
    color: $contact-form-dark-blue;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: normal; }
  &-working-hours {
    font-weight: bold; }
  & a {
    color: $contact-form-text-black;
    font-size: 1.7rem;
    font-style: normal;
    text-decoration: none; }
  & p {
    color: $contact-form-text-black;
    font-size: 1.7rem;
    font-style: normal;
    text-decoration: none;}}

#contact-main {
  @include respond(desktop) {
    padding-left: 0;
    padding-right: 0;
  }
  }



/*CONTACT PAGE - END*/