/*ORDER PAGE - START*/

.order-page-main {
  background-color: $white;
  padding: 20px 20px 40px 30px;
  max-width: $max-width;
  margin: 0 0 50px 0;

  @include respond(tablet-landscape) {
    width: 100%;
    margin: auto;
  }}

#order-main {
  @include respond(desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

#order-sub-nav {
  @include respond(tablet-portrait) {
    margin-bottom: 40px;
  }
}
/*ORDER PAGE - END*/