/*PRODUCT PAGE DETAIL - START*/
.product-description {

  display: grid;
  grid-template-columns: 1fr;
  background-color: $white;
  margin-top: 20px;
  padding: 20px;
  column-gap: 20px;

  &-heading {
    grid-column: 1/-1;
  }

  &-img {
    width: 100%;
    max-width: 500px;

    &-container {
      width: 100%;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }


  @include respond(tablet-portrait) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
    padding: 20px;
  }
}


.product-info {
  &-detail {
    margin-bottom: 40px;
    margin-top: 23px;
  }

  &-sub-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    @include respond(tablet-portrait) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
      align-items: center;
    }
  }

  &add-button {
    @include respond(tablet-portrait) {
      margin-left: 0;
    }
  }
}


#colors {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  &:focus {
    outline: none;
  }
}


/*PRODUCT PAGE DETAIL - END*/